.container {
  display: flex;
  margin: 20px 0;
  font-size: 0.98rem;
}

.head {
  min-width: 70px;
}

.body {
  color: black;
  min-width: 220px;
  font-weight: bold;
}

.tail {
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
}