.container {
  max-width: 650px;
}

.btn-container {

  :global(.ant-form-item-control-input-content){
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  button {
    padding: 10px 20px;
    height: auto;
    border-radius: 5px;
    color: white !important;
    border-color: #3161F1 !important;
    background-color: #3161F1 !important;

    &:hover {
      background-color: rgba(63, 106, 236, 0.8) !important;
      border-color: rgba(63, 106, 236, 0.8) !important;
    }
  }
}