.list {
  margin-bottom: 10px;
}

.item {
  border: 1px solid #E5E5E5 !important;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 10px;
  

  :global(.ant-list-item-meta-title) {
    font-size: 12px;
    margin-bottom: 0px;
    color: #000000;
    opacity: 0.3;
    font-weight: 400;
  }

  :global(.ant-list-item-meta-description){
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: black;
  }

  :global(.ant-btn) {
    color: var(--theme-primary-color);
    border: unset !important;
    font-size: 0.75rem;

    &:hover {
      color: rgba(63, 106, 236, 0.8);
    }
  }

  :global(.ant-list-item-action-split) {
    display: none;
  }
}

.dates {
  font-size: 12px; 
  color: #000000;
  opacity: 0.3;
  font-weight: 400;
}