.ProfileCounts {
    display: flex;
    grid-gap: 40px;
    flex-wrap: wrap;

    .MetaKey {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        font-family: var(--theme-f-family-primary);
    }
    .MetaValue {
        color: var(--color-gray);
        font-size: 16px;
        font-weight: 400;
        font-family: var(--theme-f-family-secondary);
        margin-left: 5px;
    }
    &.AuthorCounts {
        .MetaKey {
            color: #fff !important;
        }
    }
}
