
.title {
    padding: 20px 0;
    color: gray;
}


.noTaskFound{
    padding: 70px 0;
    text-align: center;
    width: 330px;
    margin: auto;
    @media (max-width: 467px){
      width: 100%;
    }
    p{
      font-family: var(--theme-f-family-primary);
      font-weight: 500;
      font-size: 15px;
      line-height: 1.6;
      text-align: center;    
      color: #000000;
    }
  }