.SearchResult {
    margin-bottom: 20px;
    .Title {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #282a32;
        margin-bottom: 23px;
    }
    .ItemList {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin: 0;
    }
    .Item {
        cursor: pointer;
        display: flex;
        gap: 15px;
        align-items: center;
        div{
            display: flex;
        }
        img {
            width: 27px;
            height: 27px;
            border-radius: 50px;
        }
        .Name {
            font-size: 14px;
            line-height: 17px;
        }
    }
    a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: #3161f3;
    }
}
