.container {
  
  width: 714px !important;
  :global(.ant-modal-content) {
    border-radius: 5px;
    padding-top: 0;
    width: 714px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15) !important;
    border-radius: 20px;    
    @media (max-width: 630px){
      width: 100%;
    }
  }

  :global(.ant-modal-header) {
    display: none;
  }

  :global(.ant-modal-body) {
    padding: 20px 40px 24px;
  }

  :global(.ant-tabs-nav-list) {
    box-shadow: inset 0 -1px 0px#f0f0f0;
  }

  :global(.ant-tabs-tabpane) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  :global(.ant-modal-close-x) {
    display: none;
  }
}