.TodoTitle{
    font-family: var(--theme-f-family-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--body-f-color);
    margin-bottom: 16px;
    margin-top: 54px;
}

.Spinner {
    margin-top : 14px;
}