.AuthorsListContainer{
    .Header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .AuthorsList{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        & > div{
            flex: 1 0 22%;
            min-width: 252px;
            width: 297px;
            max-width: 297px;
        }
    }
}
